
.logo1{ 
    float:right;
    position: fixed;
    margin-left: 10px;
  
     
}
.logo2{
 float: left;
 margin-top: 50px;
 margin-left: 7px;
    
}

.menu{
    filter:alpha(opacity=50);     opacity: 0.5;     -moz-opacity:0.5;     -webkit-opacity:0.5;
    position: fixed;
    background: gray;
}
.blue{
    color: blue;
    float:right;
    
}

.Alfa{
    background: gray;
    height: 74px;
    width: 100%;

}
.lado{
float: right;
margin-left: 900px  ;
background: gray;
}