
.logo1{ 
    float:right;
    position: fixed;
    margin-left: 10px;
  
     
}
.logo2{
 float: left;
 margin-top: 50px;
 margin-left: 7px;
    
}

.menu{
    opacity: 0.5;     -moz-opacity:0.5;     -webkit-opacity:0.5;
    position: fixed;
    background: gray;
    hover: opacity: 0;
}

.menu:hover{
    opacity: 1;     -moz-opacity:1;     -webkit-opacity:1;
}

.blue{
    color: blue;
    float:right;  
}

.fundo-menu{
    background: gray;
    height: 74px;
    width: 100%;

}
.lado{
float: right;
margin-left: 900px  ;
background: gray;
}

